<ion-view view-title="Belajar Morse">
  <ion-content padding="true">
    <h2>Belajar Alfabet Ke Morse</h2>
    <div class="list">
      <label class="item item-input">
        <input type="text" ng-model="input.text" placeholder="ketik kata">
      </label>
      <label class="item item-input">
        {{output}}
      </label>
      <label class="item item-input">
          <button ng-click="translateToTextMorse(input)" class="button button-assertive">to morse</button>
      </label>
    </div>

    <h2>Belajar Morse Ke Alfabet</h2>
    <div class="list">
      <label class="item item-input">
        <input disabled type="text" ng-model="inputMorse.text" placeholder="Tekan Tombol Untuk Input Morse">
      </label>

        <div class="button-bar">
          <button ng-click="inputDot()" class="button button-positive ">.</button>
          <button ng-click="inputDash()"  class="button button-calm">-</button>
          <button ng-click="inputLetterSeparator()" class="button button-balanced">_</button>
          <button ng-click="inputWordSeparator()" class="button button-energized">/</button>
        </div>


        <label class="item">
          <button ng-click="clear()" class="button button-assertive button-outline button-block"> Clear</button>
        </label>

      <label class="item item-input">
        {{outputmorse}}
      </label>
      <label class="item ">
          <button ng-click="translateToMorseToText(inputMorse)" class="button button-assertive button-block">To Text</button>
      </label>
    </div>
  </ion-content>
</ion-view>
